*{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
body{
  background color:gray;
}
/*.header{
  min-height: 94vh;
  width:100%;
  background-image:
  background-position: center;
  position: relative;
  background-size:cover;
}*/
nav{
  display: flex;
  padding-top: 10%;
  width:90%;
  padding:0% 10%;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  background:darkred;
  z-index:100;

}
nav img{
  width:100px;
}
.logo {
  background-color: darkred;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.logo a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.logo a:hover {
  background-color: white;
  color: firebrick;
}

/* Add a color to the active/current link */
.logo a.active {
  background-color: white;
  color: white;
}
.pup{
	padding-left:15px;
	font-size: 200%;
    margin-top: 4px;
    color:white;
}

.heading{
  width:90%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  margin: 0px auto;
}
.heading h1{
  front-size:60px;
  color:darkred;
  margin-bottom:25px;
  position:relative;
  margin-top: 100px;
}
.heading h1:after{
  content:"";
  position:absolute;
  width:100%;
  height:4px;
  display:block;
  margin:0 auto;
  background-color:darkred;
}

.heading p{
  font-size:18px;
  color:black;
  margin-bottom: 35px;
   font-family: "Times New Roman", Times, serif;
   text-align: justify;
}
#Pc{
  background-color: darkred;
  width: 100%;
  font-size: 20px;
color:whitesmoke;
}
.gallery{
    margin-right: 10px;
    margin-left: 10px;
    border: 3px solid rgb('0, 0, 0, 0.1');
    float: left;
    width: 300px;
    box-shadow: 0 0 20px 20px rgba('0, 0, 0, 0.1');
    margin-top: 0px;
    padding:10px;
}
.gallery:hover{
    transform: scale(1.2);
    z-index: 2;
    transition: .4s;

}
.gallery img{
    width: 100%;
    height: auto;
}
#img-gal{
  width:350px;
  height:350px;
  padding-top: 10px;
  
 }

.cont{
  width:90%;
  margin:10%;
  padding:10px 20px;
}
.about{
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}
.about-img{
  padding-bottom: 10px;
  margin-right: 50px;
  overflow:hidden;

}
.about-img img{
  max-width:150%;
  height:auto;
  display:block;
  padding: 10px;
  transition:0.5s ease;
}
.about-img:hover img{

  transform:scale(1.2);
}
.about-cont{
  flex:1;
}
.about-cont h2{
  font-size:23px;
  margin-botoom:15px;
  color:#333;
}
.about-cont .read-more{
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius:25px;
  margin-top: 15px;
  background-color: goldenrod;
}
.about-cont .read-more:hover{
  background-color:darkred;
}
@media screen and(max-width:768px){
  .heading{
    padding:0px 20px;
  }
  .heading h1{
    font-size:36px;
  }
  .cont{
    padding:0px;
  }
  .about{
    padding:20px;
    flex-direction:column;
  }
  .about-img{
    margin-right: 0px;
    margin-bottom: 20px;

  }
  .about-cont .read-more{
    font-size:16px;
  }
}
